* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --transition: 1s cubic-bezier(0.05, 0.5, 0, 1);
}

body{
    font-family: 'Pretendard',sans-serif;
    background-color: #000;
    color: #fff;

}

.logo {
    width: calc(var(--index) * 6);
    height: calc(var(--index) * 1.76);
    margin: 30px;
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 999;
    cursor: pointer;
}

/* .logo {
    --logo-size: calc(var(--index) * 7.8);
    width: var(--logo-size);
    height: var(--logo-size);
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - calc(var(--logo-size) / 2));
    top: calc(var(--index) * 5);
    z-index: 1;
}  변수로 했을 때 코드 */

.layers{
    perspective: 1000px;
    overflow: hidden;
}

.layers__container{
    height: 100vh;
    min-height: 500px;
    transform-style: preserve-3d;
    transform: rotateX(var(--move-y)) rotateY(var(--move-x));
    will-change: transform;
    /* --> 동적인코드가있을때 이걸 안쓰면 오류가 발생할 수 있다! */
    transition: transform var(--transition);
}

.layers__item {
    position: absolute;
    inset: -5vw;
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.layer-1 {
    transform:  translateZ(-55px) scale(1.06);
}

.layer-2 {
    transform:  translateZ(80px) scale(0.88);
}

.layer-3 {
    transform:  translateZ(180px) scale(0.9);
}

.layer-4 {
    transform:  translateZ(190px) scale(0.9);
}

.layer-5 {
    transform:  translateZ(300px) scale(0.9);
}

.layer-6 {
    transform:  translateZ(380px);
}

.hero-content {
    font-size: calc(var(--index) * 2.9);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: calc(var(--index) * -0.15);
    line-height: 1.35em;
    margin-top: calc(var(--index) * 3);
}

.hero-content h1 {
    font-weight: 800;
}

.hero-content span{
    display: block;
}

.hero-content__p {
    font-family: 'Poppins', sans-serif;
    text-transform: none;
    font-weight: 200;
    letter-spacing: normal;
    font-size: calc(var(--index) * 0.8);
    line-height: 1.4em;
    margin-top: calc(var(--index) * 1.4);
}

.btn-start {
    font-family: 'Pretendard',sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: calc(var(--index) * 0.7);
    letter-spacing: -0.02vw; 
    padding: calc(var(--index) * 0.6) calc(var(--index) * 1.25);
    background-color: transparent;
    color: #fff;
    border-radius: 10em;
    border: 3px solid rgb(255 255 255 / 0.4);
    outline: none;
    cursor: pointer;
}

.btn-start:hover {
    background-color: #fff;
    color: #000;
    transition: 0.3s;
}

.layer-4, .layer-5, .layer-6 {
    pointer-events: none;
}